%header-content-blocks {
    width: 100vw;
    max-width: var(--maxWidth);
    min-width: var(--minWidth);
    margin: 0 auto;
}

%font-settings {
    font-size: var(--inputFontSize);
    font-family: var(--mainFontFamily);
}